---
title: About
layout: 'base.njk'
---

<p>My name is Risley, I code projects and games in my free time.</p>
<h2>Contact</h2>
<h3>Email</h3>
<p>rle0101@mymail.lausd.net</p>
<h3>Discord</h3>
<p>bitstorm#0035</p>